h1,
h2 {
	color:$white;
	font-family:$raleway;
	font-size: $large;
}

h3 {
	font-family:$raleway;
	font-size:$large;
	margin:1rem;
	text-align: center;
}

p {
	font-family:$raleway;
	font-size:$medium;
	margin: 1rem;
	text-align: center;
}


.main_title {
	font-weight: $extra-light;
	font-size: $large;

	&--bold {
		@extend .main_title;
		}	
}

